.Home
    .intro
        border-bottom: 1px solid #ccc
        padding-bottom: 2rem
        margin-bottom: 2rem
        >h2:last-child
            text-align: center
            font-weight: bold
            margin-top: 2rem